In [66]:
#tarefa 6: Maria Gabriela de Paiva Sousa 
import pandas as pd
import numpy  as np
f = pd.read_csv("auto.csv")
#o arquivo esta no mesmo diretório

In [61]:
#Q1:Crie uma nova coluna com a relação Massa/Consumo.
df['massa\com']=df['massa_kg']/df['c_km\litro'] 
df

            modelo  massa_kg  c_km\litro   massa\com
0            Focus      1198       11.90  100.672269
1   Crown Victoria      1715        6.80  252.205882
2       Expedition      2530        5.53  457.504521
3         Explorer      2014        6.38  315.673981
4            F-150      2136        5.53  386.256781
5           Fusion      1492        8.50  175.529412
6           Taurus      1652        7.65  215.947712
7              Fit      1168       13.60   85.882353
8           Accord      1492        9.78  152.556237
9             CR-V      1602        8.93  179.395297
10           Civic      1192       11.90  100.168067
11       Ridgeline      2045        6.38  320.532915

In [62]:
#para facilitar 
df.set_axis(['modelo','massa_kg','c_km\litro','massa\com',], 
                    axis='columns', inplace=True)
df.columns

Index(['modelo', 'massa_kg', 'c_km\litro', 'massa\com'], dtype='object')

In [63]:
#Q2:Crie e exiba uma subtabela onde são mostrados apenas os dados dos veículos com massa maiores ou iguais que 1500 e menores ou iguais que2250.

sub=df[(df.massa_kg >= 1500) & (df.massa_kg <= 2250)]
sub

            modelo  massa_kg  c_km\litro   massa\com
1   Crown Victoria      1715        6.80  252.205882
3         Explorer      2014        6.38  315.673981
4            F-150      2136        5.53  386.256781
6           Taurus      1652        7.65  215.947712
9             CR-V      1602        8.93  179.395297
11       Ridgeline      2045        6.38  320.532915

In [64]:
#Q3:Exiba a média da nova coluna (Massa/Consumo) dessa subtabela.
sub['massa\com'].mean()

278.335428211496